<!DOCTYPE>
<html>
<head>
</head>

<body>
    <h1 style="text-align:center">{{text}}</h1>
    <div style="display: flex; justify-content: center"><img src='https://cdn3.whatculture.com/images/2021/01/5917ae1bfe663cf3-600x338.jpg' alt="flag"></div>
    <p><a href="xd"> xd</a></p>
    <p><a href="kubus_puchatek">Kubus</a></p>
    <p><a href="password_generator">Haslo</a></p>
    <p><a href="flaga_dla_ukrainy">Flaga dla ukrainy</a></p>
    <p><a href="brudnopis">Brudnopis</a></p>
    <p><a href="ciekawe-postacie">Ciekawe postacie</a></p>
</body>


</html>
