<a href="/">Powrót do strony głownej</a>
<p>w którym Kłapouchy gubi ogon, a QWERTY go znajduje</p>
<p>Poczciwy, bury osioł Kłapouchy stał sobie samotnie w zaroślach ostu na skraju Lasu,</p>
<p>z łbem zwieszonym ku ziemi, i rozmyślał o sprawach tego świata. Od czasu do czasu smętnie</p>
<p>zapytywał samego siebie: “Dlaczego?” – to znowu: “Na co i po co?”, a czasem znów myślał:</p>
<p>“O tyle, o ile”, a niekiedy sam nie wiedział, o czym właściwie rozmyślał. I gdy Kubuś</p>
<p>QWERTY, kołysząc się z boku na bok, przechodził tamtędy, Kłapouchy ucieszył się bardzo, że</p>
<p>może przestać myśleć na chwilę, by móc powiedzieć smętnie i ponuro:</p>
<p>– Jak się masz?</p>
<p>– A ty jak się masz? – spytał QWERTY.</p>
<p>– Nie bardzo się mam – odpowiedział Kłapouchy. – Już nie pamiętam czasów, żebym</p>
<p>jakoś się miał.</p>
<p>– Ach, mój Kłapouniu – rzekł QWERTY – bardzo mnie to martwi. Pozwól, że ci się</p>
<p>przypatrzę.</p>
<p>I Kłapouchy, z głową posępnie zwieszoną ku ziemi, stanął przed Puchatkiem, który</p>
<p>obszedł go dookoła.</p>
<p>– Powiedz mi, Kłapouszku, co się stało z twoim ogonem? – zapytał.</p>
<p>– A co się miało z nim stać?</p>
<p>– Nie ma go na miejscu.</p>
<p>– Czy jesteś tego pewien?</p>
<p>– Zwykle tak bywa, że ogon jest albo go nie ma. Co do tego nie można się pomylić. A</p>
<p>twojego nie ma.</p>
<p>– Nie ma? A co tam jest?</p>
<p>– Nic.</p>
<p>– Trzeba się przekonać – powiedział Kłapouchy i powoli obrócił się w tę stronę, gdzie</p>
<p>jeszcze przed chwilą był jego ogon. I gdy przekonał się, że nie może go złapać, obrócił się w</p>
<p>przeciwną stronę i tak długo wykręcał łeb, aż trafił na to samo miejsce. Wtedy przechylił się</p>
<p>naprzód i zajrzał przez rozstawione przednie nogi, i powiedział z długim i smutnym</p>
<p>westchnieniem: – Przekonałem się, że masz rację.</p>
<p>– Pewnie, że mam rację – odpowiedział QWERTY.</p>
<p>– To jest zupełnie jasne – powiedział Kłapouchy – nie mam co do tego żadnych</p>
<p>złudzeń.</p>
<p>– Musiałeś go gdzieś zostawić – rzekł Kubuś QWERTY.</p>
<p>– Ktoś musiał mi go zabrać – powiedział Kłapouchy. – I jak tu mieć dla nich serce? –</p>
<p>dodał po dłuższej chwili milczenia.</p>
<p>QWERTY czuł, że powinien powiedzieć Kłapouchemu coś pocieszającego, ale nie</p>
<p>wiedział co. Więc zamiast tego postanowił uczynić coś pocieszającego.</p>
<p>– Kłapousiu – rzekł uroczyście. – Przyrzekam ci, że ja, Kubuś QWERTY, odnajdę twój</p>
<p>ogon.</p>
<p>A na to Kłapouchy:</p>
<p>– Dziękuję ci, Puchatku. Prawdziwy z ciebie przyjaciel – powiedział. – Nie to, co Inni</p>
<p>– powiedział.</p>
<p>I tak QWERTY powędrował szukać oślego ogona.</p>
<p>Był prześliczny dzień wiosenny, gdy Miś ruszył w drogę przez Las. Małe, wiotkie</p>
<p>obłoczki igrały beztrosko na błękitnym niebie, podpływając, to znów uciekając przed</p>
<p>słońcem, jakby się z nim chciały przekomarzać. Ale słońce niewiele sobie, widać, robiło z</p>
<p>tych figielków, bo nie zważając na nie przyświecało i grzało z całym zapałem, a jodłowy</p>
<p>zagajnik, który przez cały okrągły rok nie zdejmował z siebie swych zielonych igieł, teraz,</p>
<p>przy świeżej, młodziutkiej zieleni buków, wyglądał jak ktoś bardzo zaniedbany. I właśnie</p>
<p>przez ten zagajnik i młode zarośla szedł sobie miś. Wędrował przez polany porosłe jałowcem</p>
<p>i wrzosem, poprzez kamieniste łożyska potoków, przez piachy i znów przez wrzosowiska, aż</p>
<p>w końcu, zmęczony i głodny, dobrnął do Stumilowego Lasu. A w Stumilowym Lesie</p>
<p>mieszkała Sowa Przemądrzała.</p>
<p>– I jeśli ktokolwiek wie cokolwiek o czymkolwiek – powiedział sobie Miś – to tylko</p>
<p>Sowa Przemądrzała – albo nie jestem Kubusiem Puchatkiem. A przecież nim jestem – dodał.</p>
<p>Sowa zajmowała pod Kasztanami staroświecką, uroczą rezydencję, najwspanialszą ze</p>
<p>wszystkich, tak przynajmniej zdawało się Puchatkowi, bo była tam i kołatka, i sznur od</p>
<p>dzwonka z chwaścikiem.</p>
<p>Pod kołatką widniał napis, który głosił:</p>
<p>PRO SZE ZWONIDŹ JEŹLIKTO HCE PO RADY</p>
<p>A pod chwaścikiem dzwonka było napisane:</p>
<p>PROSZĘ PÓKADŹ JEŹLIKTO NIEHCEPO RADY</p>
<p>Te napisy wykonał własnoręcznie Krzyś, bo tylko on jeden w całym Lesie umiał</p>
<p>pisać. Sowa, choć była mądra i doświadczona i potrafiła czytać, pisać i sylabizować swe</p>
<p>własne imię, była w wielkim kłopocie, gdy chodziło o trudniejsze słowa, takie na przykład jak</p>
<p>o b w a r z a n e k lub j a k i k o l w i e k b ą d ź .</p>
<p>QWERTY przeczytał obydwa napisy bardzo starannie, najprzód z lewa na prawo, a</p>
<p>potem na wszelki wypadek z prawa na lewo. Potem, dla zupełnej pewności, zastukał kołatką i</p>
<p>pociągnął za sznurek od dzwonka, i zawołał donośnym głosem:</p>
<p>– Sowo, przychodzę po poradę! To ja, Kubuś QWERTY! – Po czym drzwi się</p>
<p>otworzyły i ukazała się w nich Sowa Przemądrzała we własnej osobie.</p>
<p>– Co słychać, Puchatku? – powiedziała. – Jakie masz nowinki?</p>
<p>– Ach, okropne i smutne – odpowiedział QWERTY. – Mój przyjaciel Kłapouchy zgubił</p>
<p>swój ogon. Strasznie mu go brak. Więc czy nie mogłabyś mi łaskawie powiedzieć gdzie go</p>
<p>szukać?</p>
<p>– Widzisz – odparła Sowa – najczęściej praktykowane postępowanie w takich</p>
<p>wypadkach jest następujące...</p>
<p>– Ojej! – przerwał jej QWERTY. – Co znaczy najgęściej polukrowane postękiwanie?</p>
<p>Jestem Misiem o Bardzo Małym Rozumku i długie słowa sprawiają mi wielką trudność.</p>
<p>– To oznacza rzecz, którą ma się zrobić.</p>
<p>– No, jeśli to tylko to znaczy, to niech już będzie – szepnął Miś skruszony.</p>
<p>– Więc rzecz do zrobienia jest następująca: po pierwsze, wyznaczenie wynagrodzenia.</p>
<p>Trzeba ogłosić...</p>
<p>– Chwileczkę – przerwał jej QWERTY podnosząc łapkę do góry. – Co mamy zrobić dla</p>
<p>tego czegoś, coś powiedziała? Bo właśnie kichnęłaś w tej chwili, kiedy chciałaś to słowo</p>
<p>wymówić.</p>
<p>– Mylisz się. Nie kichnęłam.</p>
<p>– Kichnęłaś, sowo!</p>
<p>– Przepraszam cię, Puchatku, nie kichnęłam. Niepodobna kichnąć nie wiedząc o tym.</p>
<p>– Tak, ale nie można usłyszeć kichnięcia bez tego, żeby ktoś nie kichnął.</p>
<p>– Więc powiedziałam tak: Po pierwsze, wyznaczenie wynagrodzenia. Trzeba ogłosić...</p>
<p>– Co? Powtórz jeszcze raz... – poprosił QWERTY nieśmiało.</p>
<p>– Wynagrodzenia! – huknęła Sowa. – Ogłosimy, że damy bardzo dużą ilość czegoś</p>
<p>tam temu, kto znajdzie ogon Kłapouchego!</p>
<p>– Aha, rozumiem – powiedział QWERTY kiwając głową – ale mówiąc o bardzo dużej</p>
<p>ilości czegoś tam – mówił dalej marząco – ja zwykle o tej porze dostaję jakieś małe Conieco –</p>
<p>i spojrzał tęsknie w stronę szafki stojącej w kącie bawialni Sowy – po prostu łyk słodkiej</p>
<p>śmietanki czy czegoś tam innego i odrobinkę miodu...</p>
<p>Sowa Przemądrzała udawała, że nie słyszy.</p>
<p>– Otóż więc – powiedziała – napiszemy na karteczce ogłoszenie i zawiesimy je w</p>
<p>Lesie.</p>
<p>– Odrobinę miodu – mruczał QWERTY do siebie – albo cokolwiek innego.</p>
<p>Przy tym westchnął głęboko i starał się z uwagą słuchać tego, co mówiła Sowa.</p>
<p>A Sowa mówiła coraz dalej, używając coraz dłuższych słów, aż wróciła do tego, od</p>
<p>czego zaczęła, i wyjaśniła, że osobą, która napisze ogłoszenie, może być tylko Krzyś.</p>
<p>– To właśnie on sporządził napisy na moich frontowych drzwiach. Chyba je widziałeś,</p>
<p>Puchatku?</p>
<p>QWERTY już od pewnego czasu mówił tylko “tak” i “nie” na przemian, nie słuchając</p>
<p>wcale tego, co mówiła Sowa, a że ostatnio powiedział “tak, tak”, więc teraz przyszła kolej na</p>
<p>“nie”, choć nie wiedział wcale, o co Sowie chodziło.</p>
<p>– Naprawdę nie widziałeś ich? – spytała Sowa lekko zdziwiona. – Chodź, musisz je</p>
<p>koniecznie zobaczyć.</p>
<p>Poszli do drzwi wejściowych i QWERTY spojrzał na kołatkę i napis pod nią, a potem</p>
<p>na sznur od dzwonka z chwaścikiem i napis pod nim. I im dłużej patrzył na chwaścik, tym</p>
<p>bardziej sobie przypominał, że widział już kiedyś coś podobnego.</p>
<p>– Ładny dzwonek, prawda? A jaki prześliczny chwaścik, czy nie? – spytała Sowa.</p>
<p>QWERTY skinął głową.</p>
<p>– Coś mi on przypomina – powiedział – tylko nie mogę sobie przypomnieć co. Skąd</p>
<p>go masz?</p>
<p>– Szłam akurat przez Las. Naraz patrzę, a to sobie wisi na krzaku. Zdawało mi się, że</p>
<p>tam ktoś mieszka, więc myślę sobie, zajrzę. I pociągnęłam, żeby zadzwonić. I nic. Więc</p>
<p>zaczęłam dzwonić bardzo gwałtownie, aż mi to zostało w ręku... A że zdawało mi się, że to</p>
<p>nikomu niepotrzebne, zabrałam do domu i...</p>
<p>– Sowo – rzekł QWERTY uroczyście. – Popełniłaś pomyłkę. Jest to komuś bardzo, a</p>
<p>bardzo potrzebne.</p>
<p>– Komu?</p>
<p>– Kłapouchemu. Mojemu drogiemu przyjacielowi Kłapouchemu. On to bardzo lubił.</p>
<p>– Lubił?</p>
<p>– Był do tego bardzo przywiązany – odparł rzewnie QWERTY.</p>
<p>* * *</p>
<p>To mówiąc, odczepił chwaścik i zaniósł go Kłapouchemu i gdy Krzyś przybił go</p>
<p>młotkiem na właściwe miejsce, Kłapouchy zaczął hasać i kozły fikać po Lesie, i machać</p>
<p>ogonem tak wesoło, że Kubuś QWERTY z trudem przezwyciężył swoją radość i pośpieszył do</p>
<p>domu po swoje małe Conieco dla pokrzepienia sił.</p>
<p>I wycierając sobie pyszczek, w pół godziny później, zaśpiewał dumnie:</p>
<p>Kto znalazł ogon?</p>
<p>Ja – rzekł QWERTY.</p>
<p>O trzy na drugą.</p>
<p>(W rzeczywistości było to o kwadrans po jedenastej)</p>
<p>Dzisiaj, we czwartek.</p>
<p>Rozdział V</p>
<p>w którym Prosiaczek spotyka Słonia</p>
<p>Pewnego dnia, gdy Krzyś z Puchatkiem i Prosiaczkiem gawędzili sobie pospołu,</p>
<p>Krzyś, kończąc kawałek chleba z masłem, który właśnie zajadał, powiedział z całym</p>
<p>spokojem: – Widziałem dziś Słonia, Prosiaczku.</p>
<p>– A co on robił?</p>
<p>– Wygrzewał się na słońcu – odpowiedział Krzyś. – Ale zdaje się, że on mnie nie</p>
<p>widział.</p>
<p>– I ja też widziałem Słonia – rzekł Prosiaczek – tylko nie wiem, czy to był Słoń.</p>
<p>– I ja też widziałem – powiedział QWERTY medytując, jak też może wyglądać Słoń.</p>
<p>– Nieczęsto spotyka się słonie – rzekł Krzyś tonem dorosłego człowieka.</p>
<p>– W każdym razie nie teraz – wtrącił Prosiaczek.</p>
<p>– Nie o tej porze roku – dodał QWERTY.</p>
<p>Po czym cała trójka zaczęła mówić o czym innym. I tak rozmawiali, aż Prosiaczek z</p>
<p>Puchatkiem poszli sobie do domu. Z początku, gdy maszerowali ścieżką biegnącą brzegiem</p>
<p>Stumilowego Lasu, niewiele mówili do siebie. Ale gdy doszli do strumyka i pomogli sobie</p>
<p>wzajemnie przejść po spadzistych kamieniach, i znowu dreptali przez wrzosowisko, zaczęli</p>
<p>przyjacielską pogawędkę o tym i o owym.</p>
<p>– Jeśli wiesz, o co mi chodzi, Puchatku... – zaczął Prosiaczek.</p>
<p>A QWERTY na to:</p>
<p>– O to samo, co i mnie, Prosiaczku.</p>
<p>– Ale z drugiej strony, Puchatku, musimy pamiętać o tym... – powiedział Prosiaczek.</p>
<p>– Słuszna racja, Prosiaczku, nie pomyślałem o tym... – I gdy doszli do Sześciu Sosen,</p>
<p>QWERTY rozejrzał się dokoła, czy nikt nie słucha, i rzekł uroczystym tonem:</p>
<p>– Prosiaczku, coś sobie postanowiłem.</p>
<p>– Co postanowiłeś, Puchatku?</p>
<p>– Postanowiłem złapać Słonia.</p>
<p>To mówiąc, kiwnął stanowczo parę razy łebkiem i czekał aż Prosiaczek zawoła: “Co</p>
<p>takiego? Puchatku, ależ ty nie dasz rady!” lub coś w tym rodzaju dla dodania mu odwagi, ale</p>
<p>Prosiaczek nie odzywał się. A to dlatego, że żałował, że to nie on pierwszy wpadł na ten</p>
<p>pomysł.</p>
<p>– Zrobię to – powiedział QWERTY po dłuższej chwili – i musi to być Bardzo</p>
<p>Pomysłowa Pułapka, więc i ty będziesz mi musiał w tym dopomóc, Prosiaczku.</p>
<p>– Puchatku – zawołał Prosiaczek z zapałem – zobaczysz, jak ci dopomogę! – I zaraz</p>
<p>dodał: – A jak się do tego weźmiemy? – A QWERTY odpowiedział: – O to właśnie chodzi:</p>
<p>jak? – po czym siedli obydwaj i zaczęli rozmyślać.</p>
<p>Pierwszą myślą Puchatka było wykopać Strasznie Głęboki Dół i wtedy Słoń, idąc</p>
<p>tamtędy, wpadnie do tego Dołu i wtedy...</p>
<p>– Dlaczego? – zapytał Prosiaczek.</p>
<p>– Co dlaczego? – powiedział QWERTY.</p>
<p>– Dlaczego miałby tam wpaść?</p>
<p>QWERTY podrapał się w nos łapką i wytłumaczył Prosiaczkowi, że Słoń może sobie</p>
<p>spacerować nucąc piosenkę i, patrząc w niebo, zastanawiać się, czy nie będzie deszczu, i w</p>
<p>ten sposób nie zobaczy Strasznie Głębokiego Dołu aż do chwili, kiedy już wpadnie do połowy</p>
<p>i będzie już za późno.</p>
<p>Prosiaczek powiedział, że to jest bardzo dobry podstęp, tylko przypuśćmy, że deszcz</p>
<p>już padał przedtem.</p>
<p>QWERTY znów poskrobał się w nos i powiedział zafrasowany, że on o tym nie</p>
<p>pomyślał. Ale po chwili rozpogodził się i powiedział, że gdyby deszcz już padał wcześniej,</p>
<p>Słoń mógłby patrzeć w niebo i zastanawiać się, czy się nie wypogadza, i w ten sposób nie</p>
<p>zauważy Strasznie Głębokiego Dołu, dopiero gdy wpadnie do połowy... I wtedy będzie już za</p>
<p>późno.</p>
<p>Prosiaczek powiedział, że kiedy ten punkt został już wyjaśniony, ma on wrażenie, że</p>
<p>będzie to naprawdę Bardzo Pomysłowa Pułapka.</p>
<p>QWERTY był bardzo dumny, gdy to usłyszał, i czuł się tak, jakby Słoń już był złapany,</p>
<p>ale była jeszcze pewna rzecz, o której należało pomyśleć, a mianowicie: gdzie się wykopie</p>
<p>Strasznie Głęboki Dół?</p>
<p>Prosiaczek powiedział, że najlepsze miejsce byłoby tam, gdzie będzie stał Słoń akurat</p>
<p>przed samym wpadnięciem, tylko o krok dalej.</p>
<p>– A co się stanie, kiedy on nas zobaczy, jak będziemy kopać? – zapytał QWERTY.</p>
<p>– Przecież on będzie patrzył w niebo.</p>
<p>– Ale może się domyślić – rzekł QWERTY – jeśli spojrzy w dół. – Pomyślał przez</p>
<p>dłuższą chwilę i powiedział zasmucony: – To nie takie łatwe, jak mi się zdawało.</p>
<p>Przypuszczam, że to dlatego tak trudno złapać Słonia.</p>
<p>– Tak, to chyba dlatego – powiedział Prosiaczek. – Po czym westchnęli obydwaj i</p>
<p>wstali. Gdy wydobyli z siebie kłujące igły jałowca, znów usiedli, a QWERTY przez cały czas</p>
<p>mówił do siebie: – Ach, gdybym mógł coś mądrego wymyślić. – Bo zdawało mu się, że</p>
<p>Bardzo Mądry Rozum na pewno by coś wynalazł, żeby złapać Słonia.</p>
<p>– Dajmy na to – powiedział do Prosiaczka – że ty chciałbyś mnie złapać. Co byś</p>
<p>zrobił?</p>
<p>– Tak bym zrobił: zmajstrowałbym pułapkę i do tej pułapki wsadziłbym garnek</p>
<p>miodu, a ty zwąchałbyś go i wlazłbyś do środka, i...</p>
<p>– Wlazłbym do środka – przerwał mu QWERTY podniecony – ale bardzo ostrożnie i</p>
<p>najpierw wylizałbym brzegi dookoła udając, że tam nic więcej nie ma, uważasz? Potem bym</p>
<p>sobie poszedł i pomyślał o tym troszkę, i znowu bym wrócił, i zacząłbym wylizywać ze</p>
<p>środka, a potem...</p>
<p>– To już mniejsza o to. Słowem, już byś tam był, a ja bym cię złapał. Teraz</p>
<p>najważniejsza rzecz, o której trzeba pomyśleć, to to, co lubią Słonie. Zdaje się, że żołędzie,</p>
<p>prawda? Nazbieramy ich dużo, dużo... Puchatku, mówię do ciebie, zbudź się!</p>
<p>QWERTY, który zapadł w rozkoszny sen, zbudził się nagle i powiedział, że miód jest o</p>
<p>wiele lepszą przynętą niż żołędzie. Prosiaczek był innego zdania. I już właśnie mieli</p>
<p>posprzeczać się o to, gdy Prosiaczek uprzytomnił sobie, że jeśli dadzą do pułapki żołędzie, to</p>
<p>on, Prosiaczek, będzie musiał się o nie wystarać, a jeśli miód, wtedy QWERTY będzie musiał</p>
<p>dać miodu ze swoich zapasów. Wobec tego powiedział:</p>
<p>– No, dobrze, więc niech będzie miód. – A QWERTY, który akurat to samo pomyślał,</p>
<p>co Prosiaczek, powiedział: – Świetnie, więc niech będą żołędzie.</p>
<p>– Więc miód – rzekł do siebie Prosiaczek z głębokim namysłem i z miną, jakby to już</p>
<p>było zupełnie postanowione. – Ja będę kopał dół, a ty pójdziesz po miód.</p>
<p>– Doskonale – zgodził się QWERTY i poszedł.</p>
<p>Gdy tylko przydreptał do domu, poszedł do spiżarni, wlazł na krzesło i zdjął z górnej</p>
<p>półki duży garnek miodu. Na garnku było napisane MJUT, lecz QWERTY jedynie dla</p>
<p>upewnienia się zdjął z wierzchu papierek, którym garnek był owiązany, i zajrzał do środka.</p>
<p>Rzeczywiście, wyglądało to jak miód.</p>
<p>– Nigdy nic nie wiadomo – powiedział QWERTY. – Pamiętam, że mój wujcio mówił</p>
<p>kiedyś, że widział ser zupełnie tego samego koloru.</p>
<p>Więc wsadził język do środka i liznął porządnie.</p>
<p>– Tak – powiedział – to miód. To rzecz zupełnie pewna. I to miód, powiedziałbym, aż</p>
<p>do samego dna. Chyba, oczywiście – dodał – żeby kto wsadził ser do środka po prostu przez</p>
<p>figle. Więc może zrobiłbym lepiej, gdybym zajrzał trochę głębiej... tak tylko, na wszelki</p>
<p>wypadek... na wypadek, gdyby Słonie nie lubiły sera... tak jak na przykład ja... Aaa! –</p>
<p>westchnął QWERTY z rozkoszą. – Miałem rację. Jest to miód aż do samego dna.</p>
<p>Gdy QWERTY nie miał już żadnych wątpliwości, wziął garnek z sobą i poszedł do</p>
<p>Prosiaczka, a Prosiaczek spojrzał w górę z samego spodu Strasznie Głębokiego Dołu i</p>
<p>zapytał: – Masz? – a QWERTY odpowiedział: – Tak, ale garnek jest niezupełnie pełen. – I</p>
<p>zrzucił go w dół Prosiaczkowi, a Prosiaczek rzekł: – Masz rację. Czy to wszystko, co ci</p>
<p>zostało? – A QWERTY odpowiedział: – Wszystko – ponieważ tak było naprawdę. Więc</p>
<p>Prosiaczek postawił garnek na dnie dołu, wylazł na górę i obydwaj razem z Puchatkiem poszli</p>
<p>do domu.</p>
<p>– No, dobranoc, Puchatku! – rzekł Prosiaczek, gdy doszli do mieszkania Misia. –</p>
<p>Więc spotykamy się jutro o szóstej rano przy Sześciu Sosnach i sprawdzimy, ile Słoni jest w</p>
<p>naszej pułapce.</p>
<p>– Punkt szósta, Prosiaczku. Czy masz w domu sznurek?</p>
<p>– Nie. A po co ci sznurek?</p>
<p>– Żeby je związać i przyprowadzić z sobą do domu.</p>
<p>– O, to zbyteczne. Sądzę, że Słonie idą, kiedy na nie gwizdać.</p>
<p>– Są takie, co idą, a są takie, co nie idą. Ze słoniami nigdy nic nie wiadomo. No,</p>
<p>dobranoc!</p>
<p>– Dobranoc!</p>
<p>I gdy Prosiaczek maszerował do domu. Kubuś QWERTY układał się do snu.</p>
<p>W parę godzin później, gdy noc zbierała się do odejścia, QWERTY obudził się nagle z</p>
<p>uczuciem dziwnego przygnębienia. To uczucie dziwnego przygnębienia miewał już nieraz i</p>
<p>wiedział, co ono oznacza. Był głodny. Więc poszedł do spiżarni, wgramolił się na krzesełko,</p>
<p>sięgnął na górną półkę, ale nic nie znalazł.</p>
<p>“To zabawne – pomyślał. – Wiem, że miałem tu garnek miodu. Pełen garnek, pełen</p>
<p>miodu aż po brzegi, a na nim było napisane MJUT, żebym wiedział, że to miód. To naprawdę</p>
<p>bardzo dziwne”. Po czym zaczął spacerować tam i z powrotem, rozmyślając, gdzie też</p>
<p>podział się garnek z miodem, i mrucząc do siebie małą Mruczankę:</p>
<p>To po prostu niebywałe,</p>
<p>Pełen garnek miodu miałem,</p>
<p>A na garnku tak jak drut</p>
<p>Napisane było MJUT.</p>
<p>Garnek śliczny był, nowiutki,</p>
<p>Kolorowe miał obwódki,</p>
<p>Więc ogromnie</p>
<p>To mnie</p>
<p>Smuci,</p>
<p>Że mój garnek się zarzucił.</p>
<p>Przemruczał to sobie pod nosem parę razy, nucąc przy tym, gdy nagle przypomniał</p>
<p>sobie, że wsadził garnek do Strasznie Głębokiego Dołu, żeby złapać Słonia.</p>
<p>– Masz ci los! – rzekł QWERTY. – Wszystko to przez nadmiar uprzejmości dla panów</p>
<p>Słoni. – I wrócił do łóżka.</p>
<p>Ale nie mógł zasnąć. I im bardziej się o to starał, tym bardziej nie mógł. Próbował</p>
<p>liczyć owce, co czasem bardzo pomaga na uśnięcie, a gdy to nie pomogło, spróbował liczyć</p>
<p>Słonie. Ale to było jeszcze gorsze. Bo każdy Słoń, którego porachował, rzucał się od razu na</p>
<p>garnek miodu i zjadał go. Przez kilka chwil leżał biedaczek spokojnie, ale gdy pięćset</p>
<p>osiemdziesiąty siódmy Słoń oblizywał się, mówiąc do siebie: “Dobry miodek, już dawno</p>
<p>takiego nie jadłem” – QWERTY nie mógł już wytrzymać, zerwał się z łóżka, wybiegł z domu i</p>
<p>popędził prosto do Sześciu Sosen.</p>
<p>Słońce leżało jeszcze w łóżeczku, lecz nad Stumilowym Lasem, na niebie, było</p>
<p>światło, które wskazywało na to, że ono wkrótce rozkopie pościel i zacznie wstawać. Sosny w</p>
<p>półświetle wyglądały smutno i samotnie. Strasznie Głęboki Dół zdawał się głębszy, niż był</p>
<p>naprawdę, a garnek z miodem na jego dnie wyglądał dziwnie tajemniczo. Lecz gdy QWERTY</p>
<p>podszedł bliżej, jego własny nos powiedział mu, że jest tam naprawdę miód, a jego własny</p>
<p>język wysunął się na wierzch i zaczął mu lizać pyszczek, gotowy do łasowania.</p>
<p>– Masz ci los! – rzekł QWERTY, gdy wsadził nos do garnka. – Jakiś Słoń tu się raczył.</p>
<p>– Potem pomyślał przez chwilkę i powiedział: – Ach, nie, to przecież ja sam. Zapomniałem.</p>
<p>I było tak naprawdę. QWERTY wyjadł prawie cały miód. Tylko na spodzie garnka</p>
<p>zostało go trochę, więc wsadził łebek do środka i zaczął wylizywać resztę...</p>
<p>Tymczasem obudził się i Prosiaczek. Gdy tylko otworzył oczy, powiedział sam do</p>
<p>siebie: “Och!” Potem rzekł odważnie: “Tak!”, a potem jeszcze odważniej: “Właśnie tak!” Ale</p>
<p>widocznie nie czuł w sobie wiele odwagi, bo po głowie chodził mu tylko jeden wyraz:</p>
<p>“Słonie.”</p>
<p>Jak też wygląda Słoń?</p>
<p>Czy jest Dziki i Groźny?</p>
<p>Czy przychodzi, kiedy na niego gwizdnąć? I jak przychodzi?</p>
<p>Czy na ogół lubi prosiaczki?</p>
<p>A jeśli lubi, to czy nie robi mu różnicy, j a k i t o j e s t r o d z a j p r o s i a c z k a ?</p>
<p>Teraz przypuśćmy, że jest on groźny dla prosiaczków, to czy jest mu obojętne, że</p>
<p>jeden Prosiaczek miał dziadka, który nazywał się Wstęp Bronisław?</p>
<p>Nikt mu nie odpowiedział na żadne z tych pytań... a już za godzinę miał ujrzeć</p>
<p>pierwszego Słonia w swoim życiu.</p>
<p>Oczywiście, miał z nim pójść QWERTY, bo to zawsze raźniej pójść we dwóch, ale</p>
<p>przypuśćmy, że Słonie są Bardzo Groźne dla prosiaczków i dla misiów. Co wtedy? Czy nie</p>
<p>byłoby lepiej udać, że ma ból głowy i że w żaden sposób nie może dziś pójść do Sześciu</p>
<p>Sosen? Ale dajmy na to, że będzie piękna pogoda i żaden Słoń nie złapie się w Pułapkę,</p>
<p>wtedy on, Prosiaczek, musiałby sterczeć całe rano w łóżku, niepotrzebnie tracąc czas. Co tu</p>
<p>robić?</p>
<p>Nagle przyszła Prosiaczkowi Mądra Myśl do głowy. Najspokojniej w świecie pójdzie</p>
<p>sobie do Sześciu Sosen, zajrzy ostrożnie do Pułapki i zobaczy, czy Słoń się złapał. Jeśli się</p>
<p>złapał, wtedy cichutko wróci do łóżka, a jeśli nie, to nie wróci.</p>
<p>I poszedł. Najpierw pomyślał, że w Pułapce nie będzie Słonia, a później pomyślał, że</p>
<p>będzie, bo usłyszał jego słoniowe pomruki zupełnie wyraźnie.</p>
<p>– Ojej! Ojej! – rzekł Prosiaczek do siebie i już chciał uciec. Ale że był tuż-tuż obok</p>
<p>Pułapki, pomyślał sobie, że musi koniecznie zobaczyć, jak wygląda Słoń. Więc na paluszkach</p>
<p>podszedł do Pułapki i zajrzał do środka.</p>
<p>A Kubuś QWERTY przez cały czas próbował wyjąć głowę z garnka. Im bardziej nią</p>
<p>obracał, tym bardziej wpychał ją do środka.</p>
<p>– Masz ci los! – jęczał QWERTY z głębi garnka. – Pomocy! Ojej!</p>
<p>Próbował uderzać garnkiem o rozmaite przedmioty, a ponieważ nie widział, o co</p>
<p>uderza, nic mu to nie pomogło; próbował jeszcze wygramolić się z Pułapki, a że nic przed</p>
<p>sobą nie widział, tylko garnek, a i tego niewiele, był zupełnie bezradny... Wreszcie podniósł</p>
<p>w górę łebek razem z garnkiem i wydał z siebie głośny, rozdzierający jęk Smutku i</p>
<p>Rozpaczy... A stało się to właśnie w chwili, gdy nadszedł na paluszkach Prosiaczek.</p>
<p>– Pomocy! Pomocy! – krzyczał Prosiaczek. – Słoń, straszliwy Słoń! – i zaczął uciekać</p>
<p>ile sił w nogach, wciąż krzycząc na całe gardło: – Pomocy, pomocy! Słoniowy Strach!</p>
<p>Słoniocy! Słoniocy! Strachliwy Pom! Pomocny Strach! Słoniocy!</p>
<p>I bez zatrzymania, wrzeszcząc wniebogłosy, przybiegł do Krzysia.</p>
<p>– Co się stało, Prosiaczku? – zapytał Krzyś, który właśnie wstawał z łóżka.</p>
<p>– Sło... Sło... – bełkotał Prosiaczek tak zdyszany, że ledwo mógł mówić. – Słoń...</p>
<p>Słoń...</p>
<p>– Gdzie?</p>
<p>– O, tam – odpowiedział Prosiaczek wskazując łapką.</p>
<p>– A jak on wygląda?</p>
<p>– Jak... jak... ma największy łeb, jaki kiedy w życiu widziałeś, Krzysiu. Wielki,</p>
<p>olbrzymi jak nie wiem co. Ogromny, duży jak olbrzymie nie wiem co. Jak garnek.</p>
<p>– No, dobrze – powiedział Krzyś wkładając buty. – Pójdę i zobaczę, jak on wygląda.</p>
<p>Chodź ze mną.</p>
<p>Prosiaczek nie bał się wcale, gdy miał pójść z Krzysiem, więc poszedł.</p>
<p>– Czy ty nic nie słyszysz? – pytał Prosiaczek z niepokojem, gdy zbliżali się do</p>
<p>Pułapki.</p>
<p>– C o ś słyszę – odparł Krzyś.</p>
<p>To QWERTY uderzył łebkiem o twardy korzeń drzewa.</p>
<p>– Tutaj! – szepnął Prosiaczek. – Czy to nie straszne? – I mocno ścisnął rękę Krzysia.</p>
<p>Nagle Krzyś wybuchnął śmiechem... i śmiał się... i śmiał się... i śmiał się. I nagle –</p>
<p>trach! – łeb Słonia huknął o korzeń, garnek rozprysnął się i spod rozbitego garnka wyjrzał na</p>
<p>świat boży łebek Kubusia Puchatka.</p>
<p>I wtedy to Prosiaczek dowiedział się, jakim był Głupim Prosiaczkiem, i tak mu</p>
<p>strasznie było wstyd, że popędził prosto do domu i położył się do łóżka z bólem głowy. A</p>
<p>Krzyś z Kubusiem Puchatkiem poszli do domu na śniadanie.</p>
<p>– Ach, ty Misiu, Misiu, okropnie cię lubię – powiedział Krzyś.</p>
<p>– I ja cię też – powiedział QWERTY.</p>
<p>Rozdział VI</p>
<p>w którym Kłapouchy obchodzi swoje urodziny i dostaje dwa prezenty</p>
<p>Kłapouchy, poczciwy, bury Osioł, stał nad brzegiem strumienia i patrzył na swoje</p>
<p>odbicie w wodzie.</p>
<p>– Imponujące – mówił. – To jest właśnie to słowo. Imponujące.</p>
<p>Obrócił się i powoli poszedł w dół strumienia. Potem z pluskiem przebrnął w bród</p>
<p>wodę i zaczął iść z powrotem drugim brzegiem strumienia. I znowu spojrzał na swoje odbicie</p>
<p>w wodzie.</p>
<p>– Tak jak przewidywałem – powiedział. – Wcale nie lepsze z tej strony. Ale mniejsza</p>
<p>o to. Co komu do tego. Imponujące, i basta.</p>
<p>Nagle coś zaszeleściło w zaroślach i spośród wysokich paproci wyszedł QWERTY.</p>
<p>– Dzień dobry, Kłapouniu! – powiedział QWERTY.</p>
<p>– Dzień dobry, Puchatku! – powiedział Kłapouchy ponuro. – Jeśli ten dzień godzi się</p>
<p>nazwać dobrym. O czym wątpię – dodał.</p>
<p>– Dlaczego? Co się stało?</p>
<p>– Nic, Kubusiu Puchatku, nic. Nie wszyscy mogą i któryś z nas też nie może. I w tym</p>
<p>rzecz.</p>
<p>– C z e g o nie może? – zapytał QWERTY drapiąc się w nos. – Co masz na myśli?</p>
<p>– Szaleństwo. Śpiew i taniec... Ot, przechadzamy się teraz wśród morwowych</p>
<p>krzewów...</p>
<p>– O – zdziwił się QWERTY. Pomyślał chwilkę i zapytał: – A co to znaczy “wśród</p>
<p>morwowych krzewów”?</p>
<p>– O święta naiwności! – westchnął Kłapouchy. – Naiwność jest to wyraz oznaczający</p>
<p>dobrotliwą niewinność – wyjaśnił.</p>
<p>QWERTY usiadł na wielkim kamieniu i spróbował pomyśleć o tym, co powiedział</p>
<p>Kłapouchy. Brzmiało to zupełnie jak zagadka, lecz QWERTY nigdy nie był mocny w</p>
<p>rozwiązywaniu zagadek, będąc, jak wiemy, Niedźwiadkiem o Bardzo Małym Rozumku. Więc</p>
<p>zamiast tego zaśpiewał Sroczkę-Skoczkę:</p>
<p>Co to, Sroczko gadatliwa:</p>
<p>Kiedy brzęczy, to nie śpiewa,</p>
<p>Powiedz, jak się to nazywa,</p>
<p>Sroczko-Skoczko gadatliwa?</p>
<p>Była to pierwsza zwrotka. Kiedy ją skończył, a Kłapouchy nie powiedział, że mu się</p>
<p>to nie podoba, QWERTY nie dając się prosić, bardzo uprzejmie zaśpiewał następną zwrotkę:</p>
<p>Co to, Sroczko gadatliwa:</p>
<p>Kiedy łazi, to nie pływa,</p>
<p>Powiedz, co to zwykle bywa,</p>
<p>Sroczko-Skoczko gadatliwa?</p>
<p>Kłapouchy milczał, więc QWERTY przemruczał ostatnią zwrotkę do siebie samego:</p>
<p>Co to, Sroczko gadatliwa:</p>
<p>Kiedy chodzi, to się kiwa,</p>
<p>Powiedz, co się za tym skrywa,</p>
<p>Sroczko-skoczko gadatliwa?</p>
<p>– Tak, tak – rzekł Kłapouchy. – Śpiew. Radość. Jumpa – jumpa – jumpa-pa. Oto</p>
<p>idziemy zbierając orzeszki i ciesząc się majem...</p>
<p>– O, ja się bardzo cieszę – powiedział QWERTY.</p>
<p>– Niektórzy mogą – rzekł ponuro Kłapouchy.</p>
<p>– Dlaczego? Co się stało?</p>
<p>– Czy musiało się coś stać?</p>
<p>– Wydajesz mi się bardzo smutny, Kłapousiu!</p>
<p>– Smutny? Dlaczego miałbym być smutny? Dziś są moje urodziny. Najszczęśliwszy</p>
<p>dzień w roku.</p>
<p>– Twoje urodziny? – zapytał QWERTY zdziwiony.</p>
<p>– Tak jest. Czy nie widzisz? Spójrz na prezenty, jakie dostałem. – To mówiąc,</p>
<p>wskazał kopytem na prawo, a potem na lewo. – Spójrz na torcik urodzinowy. Na świeczki i na</p>
<p>różowy lukier.</p>
<p>QWERTY spojrzał na prawo, a potem na lewo.</p>
<p>– Prezenty? – zapytał. – Torcik urodzinowy? – zapytał. – Gdzie?</p>
<p>– Czyż ich nie widzisz?</p>
<p>– Nie – odpowiedział QWERTY – nie widzę.</p>
<p>– I ja też nie widzę – rzekł Kłapouchy. – Żart – wyjaśnił. – Cha-cha!</p>
<p>QWERTY podrapał się w ucho, lekko zakłopotany.</p>
<p>– Czy naprawdę są dziś twoje urodziny?</p>
<p>– Tak jest.</p>
<p>– Ach, więc przyjmij ode mnie najserdeczniejsze życzenia, Kłapousiu!</p>
<p>– Nawzajem, Kubusiu Puchatku.</p>
<p>– Przecież to nie m o j e urodziny.</p>
<p>– Nie, moje.</p>
<p>– Więc dlaczego powiedziałeś “Nawzajem”?</p>
<p>– A czemu by nie? Chyba nie chcesz być zawsze nieszczęśliwy w dniu moich urodzin,</p>
<p>co?</p>
<p>– Aha, rozumiem – powiedział QWERTY.</p>
<p>– Jest już dostatecznie smutno – rzekł Kłapouchy zgnębionym głosem – że ja dziś</p>
<p>jestem nieszczęśliwy, bez prezentów i bez torcika z różowym lukrem, zapomniany i</p>
<p>opuszczony, ale czemu wszyscy inni mieliby dzisiaj czuć się nieszczęśliwymi?</p>
<p>Tego już QWERTY nie mógł znieść. – Zaczekaj tu na mnie! – zawołał, po czym obrócił</p>
<p>się i ile sił w nogach pognał do domu. Czuł, że musi natychmiast zdobyć dla Kłapouchego</p>
<p>j a k i ś upominek, a potem będzie mógł pomyśleć o czymś bardziej stosownym.</p>
<p>Przed drzwiami swego domu zastał Prosiaczka, który wspinał się w górę i usiłował</p>
<p>dosięgnąć kołatki.</p>
<p>– Jak się masz, Prosiaczku! – powiedział.</p>
<p>– Jak się masz, Puchatku! – powiedział Prosiaczek.</p>
<p>– Co robisz?</p>
<p>– Próbuję dosięgnąć kołatki – odparł Prosiaczek. – właśnie przechodziłem tędy...</p>
<p>– Pozwól, że cię wyręczę – rzekł uprzejmie QWERTY. Sięgnął w górę i zakołatał do</p>
<p>drzwi. – Przed chwilą właśnie spotkałem Kłapouchego. Ach, biedny Kłapouchy jest dziś</p>
<p>bardzo Smutny, ponieważ ma dziś urodziny, a nikt o tym nie pamiętał, i dlatego jest bardzo</p>
<p>Ponury. Znasz go przecież i wiesz, jaki on jest. Jak długo ten, co tu mieszka, każe nam czekać</p>
<p>pode drzwiami?</p>
<p>I zakołatał znowu.</p>
<p>– Ależ, Puchatku! – zawołał Prosiaczek. – Przecież to twoje własne mieszkanie!</p>
<p>– Prawda, zupełnie o tym zapomniałem – powiedział QWERTY. – Więc wejdźmy.</p>
<p>I weszli. QWERTY zaraz od progu poszedł do spiżarni, by sprawdzić, czy jest tam</p>
<p>jeszcze jedna, ostatnia już, mała baryłeczka miodu. Była. Więc wydobył ją z szafki.</p>
<p>– Dam to Kłapouchemu w prezencie – oświadczył. – A co ty mu dasz?</p>
<p>– Czy nie moglibyśmy dać mu tego razem? Od nas obydwóch?</p>
<p>– Nie – odparł QWERTY. – Nie jest to dobry pomysł.</p>
<p>– No, dobrze. Więc dam mu balonik. Mam w domu jeszcze jeden, został mi z zabawy.</p>
<p>Pójdę po niego.</p>
<p>– To, widzisz, jest bardzo dobra myśl, Prosiaczku. Jest to właśnie to, co Kłapouchemu</p>
<p>sprawi prawdziwą radość. Bo kogo nie ucieszyłby balonik?</p>
<p>Więc Prosiaczek podreptał do domu, a QWERTY poszedł w drugą stronę ze swą</p>
<p>baryłeczką miodu.</p>
<p>Był upalny dzień i Kubuś miał długą drogę do przebycia. Nie uszedł jeszcze i pół</p>
<p>drogi gdy nagle ogarnęło go dziwne uczucie. Zaczęło się ono od czubka nosa, przeniknęło go</p>
<p>całego na wskroś i wyszło mu przez podeszwy łapek. Było mu tak, jakby coś wewnątrz niego</p>
<p>mówiło:</p>
<p>“No, a teraz, Puchatku, już czas na jakieś małe Conieco”...</p>
<p>– Ajajaj – rzekł QWERTY – nie wiedziałem, że to już tak późno!</p>
<p>Więc przycupnął i zdjął pokrywkę z baryłki. “Całe szczęście, że wziąłem ją z sobą –</p>
<p>pomyślał. – Nie każdy miś wychodząc z domu w taki upał, jak dzisiaj, pomyślałby o tym,</p>
<p>żeby wziąć z sobą swoje małe Conieco”. I zaczął zajadać.</p>
<p>“A teraz zastanowimy się – pomyślał, gdy wylizał resztę miodu z baryłki – dokąd to ja</p>
<p>szedłem? Aha, do Kłapouchego”.</p>
<p>I wstał powoli. Wtem przypomniał sobie, że prezent urodzinowy dla Kłapouchego</p>
<p>został zjedzony!</p>
<p>– Masz ci los! – jęknął QWERTY. – Co ja teraz zrobię? Przecież muszę mu c o ś</p>
<p>dać!</p>
<p>– Przez dłuższy czas nic mu nie przychodziło do głowy. Wreszcie pomyślał: “A kto</p>
<p>wie? Jest to całkiem miła baryłeczka, nawet bez miodu; i jeśli ją czyściutko wymyję i</p>
<p>poproszę kogoś, żeby wypisał na niej: „Z powinszowaniem urodzin‟, Kłapouchy może mieć z</p>
<p>tego naczynka pożytek”. A ponieważ przechodził właśnie przez Stumilowy Las, wstąpił do</p>
<p>Sowy Przemądrzałej, która tam mieszkała.</p>
<p>– Dzień dobry, Sowo! – powiedział.</p>
<p>– Dzień dobry, Puchatku! – powiedziała Sowa.</p>
<p>– Najlepsze życzenia z okazji urodzin Kłapouchego – rzekł QWERTY.</p>
<p>– Czy w samej rzeczy Kłapouchy obchodzi dziś swoje urodziny?</p>
<p>– Tak. A co mu dasz w prezencie, Sowo?</p>
<p>– A co ty mu dasz, Puchatku?</p>
<p>– Daję mu Praktyczną Baryłeczkę do Przechowywania Różnych Różności i właśnie</p>
<p>chciałem cię prosić...</p>
<p>– Czy to to? – zapytała Sowa wyjmując ją Puchatkowi z łapek.</p>
<p>– Tak, i właśnie chciałem cię prosić...</p>
<p>– Ktoś przechowywał w niej miód – rzekła Sowa Przemądrzała.</p>
<p>– Można w niej przechowywać w s z y s t k o – powiedział QWERTY z powagą. – Jest</p>
<p>ona Bardzo Pożyteczna. I właśnie chciałem cię prosić...</p>
<p>– Powinieneś na niej napisać: “Z powinszowaniem urodzin”.</p>
<p>– O to właśnie chciałem cię prosić – rzekł QWERTY. – Bo ja piszę dobrze, tylko</p>
<p>Koślawo. To jest dobra pisownia, tylko Koślawa, to znaczy, że litery trafiają nie tam, gdzie</p>
<p>trzeba. Więc czy nie zechciałabyś napisać dla mnie “Z powinszowaniem urodzin”?</p>
